.login-container{
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#FFF;
    padding: 10px;
    box-shadow: 5px 5px 5px #888888;
}

.login-header{
    margin-bottom: 3rem ;
    color: #888888;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem !important;
    }
  }

